<!DOCTYPE html>
<html>
  <head>
    <title>
      <link rel="stylesheet" type="text/css" href="style.css">
      Magic 8 Ball
    </title>
  </head>

  <body>
    <h2>
    What is your fortune?
    </h2>
    <p>
    <strong> Choose your question: </strong>
    </p>
    <form>
      <input type = "radio" name = "question" value = "Question 1"> ifhaueio <br>
      <input type = "radio" name = "question" value = "Question 2"> befinjkaf <br>
      <input type = "radio" name = "question" value = "Question 3"> vbdfhisusidfhg <br>
      <input type = "radio" name = "question" value = "Question 4"> ifhgbdlsa <br>
      <input type = "submit" value = "Submit">
    </form>

  </body>




</html>
